
<div class="main">
    <div class="row menuItems">
      <button id="step1" class="col-4 menuStyling" (click)="modelColor()">Step 1</button>
      <button id="step2" class="col-4 menuStyling" [ngClass]="carModelColorObj ? '' : 'disableButton'" (click)="configOptions()">Step 2</button>
      <button id="step3" class="col-4 menuStyling" [ngClass]="carModelColorObj && carConfigData ? '' : 'disableButton'" (click)="totalCost()">Step 3</button>
    </div>
</div>

<router-outlet></router-outlet>

<div *ngIf="carModelColorObj">
  <img *ngIf="carModelColorObj.selectedCarModelColor"
  [src]="'https://interstate21.com/tesla-app/images/'+ carModelColorObj.selectedCarModel + '/' + carModelColorObj.selectedCarColor + '.jpg'"
  alt="Selected tesla model image"
  [ngStyle]="{'width' : '100%'}">
</div>
