<div class="main">
    <h3 class="p-2">{{headerText}}</h3>

    <ng-container>
        <div class="row">
            <div class="col-3 m-2">
                <label>Model:</label>
                <select #modelTempleteValue class="dropdownStyling" [(ngModel)]="selectedModelColorsCode"
                    [attr.ID]="'modelSelect'" (change)="selectedModel(modelTempleteValue.value)">
                    <option [value]="''" selected>Choose a model</option>
                    <option *ngFor="let model of models" [value]="model.code">
                        {{ model.description }}
                    </option>
                </select>
            </div>

            <div class="col-3 m-2" *ngIf="selectedModelColorsCode">
                <label>Color:</label>
                <select #colorTempleteValue class="dropdownStyling" [(ngModel)]="selectedColorValue"
                    placeholder="Choose a color" [attr.ID]="'colorSelect'"
                    (change)="selectedColor(colorTempleteValue.value)">
                    <option *ngFor="let color of selectedModelColors" [value]="color.code">
                        {{ color.description }}
                    </option>
                </select>
            </div>
        </div>
    </ng-container>
</div>