<div class="main">
    <h3 class="p-2">{{headerText}}</h3>

    <div class="content">
        <ng-container>
            <div class="row">
                <div class="col-6 m-2">
                    <label>Config:</label>
                    <select #configTemplateValue class="ml-2 dropdownStyling" [(ngModel)]="selectedConfigValue" [attr.ID]="'configSelect'" (change)="selectedConfig(configTemplateValue.value)">
                        <option [value]="''" selected>Choose a option</option>
                        <option *ngFor="let config of configs" [value]="config.id">
                            {{ config.description }}
                        </option>
                    </select>
                </div>
            </div>
    
            <div class="m-2" *ngIf="selectedConfigData">
                <label>Range: {{selectedConfigData.range}} miles - Max speed: {{selectedConfigData.speed}} - Cost: {{selectedConfigData.price | currency}}</label>
            </div>
        </ng-container>
    
    
        <ng-container *ngIf="configOptionsData">
            <div class="row">
                <div class="col-3 m-2 d-flex">
                    <label>Tow hitch?</label>
                    <input #towHitchTemp type="checkbox"  [checked]="configOptionsData.towHitch" class="ml-2 checkboxStyling" id="includeTow" [attr.ID]="'includeTow'" 
                    (change)="towHitchChange(towHitchTemp.checked)">
                </div>
            </div>
        </ng-container>
    
    
        <ng-container *ngIf="configOptionsData">
            <div class="row">
                <div class="col-3 m-2 d-flex">
                    <label>Yoke steering wheel?</label>
                    <input #yokeSteeringTemp type="checkbox" [checked]="configOptionsData.yoke" class="ml-2 checkboxStyling" id="includeYoke" [attr.ID]="'includeYoke'"
                    (change)="yokeSteeringChange(yokeSteeringTemp.checked)">
                </div>
            </div>
        </ng-container>
    </div>
    
</div>