.main {
    background-color: black;
    color: white;
    padding: 2%;
}

.content {
    font-size: 20px;
}

.dropdownStyling {
    width: 50%;
    height: 100%;
}

.checkboxStyling {
    width: 30px;
    height: 30px;
}