.main {
    background-color: black;
    color: white;
    padding: 2%;
}


.content {
    font-size: 20px;
}

p span {
    display: inline-block;
    width: 50%;
}

.totalCostData {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.seperator {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 1%;
}