<div class="main">
    <h1 class="p-2">{{headerText}}</h1>

    <h2 class="ml-2" *ngIf="carModelDetails">Your Tesla {{ carModelDetails.modelDescription }}</h2>

    <div class="totalCostData ml-2 mt-4">
        <p>
            <span><b>{{ carConfigData.description }}</b></span>
            <span>{{ carConfigData.price | currency }}</span>
        </p>
        
        <p>
            Range: {{ carConfigData.range }} miles -
            Max speed: {{ carConfigData.speed }}
        </p>

        <p>
            <span><b>{{ carModelDetails.selectedModelColorsDescription }} color</b></span>
            <span>{{ carModelDetails.selectedModelColorPrice | currency }}</span>
        </p>

        <p *ngIf="towHitch">
            <span><b>Tow Hitch Package</b></span>
            <span>{{ towHitchCost | currency }}</span>
        </p>

        <p *ngIf="yokeSteering">
            <span><b>Yoke Package</b></span>
            <span>{{ yokeCost | currency }}</span>
        </p>

        <p class="seperator">
            <span><b>TOTAL COST:</b></span>
            <span>{{ finalCost | currency }}</span>
        </p>
    </div>
</div>